{{ $data := .Site.Data.homepage }}
{{if (eq .Site.Language.Lang "jp")}}
  {{$data = .Site.Data.homepagejp }}
{{ else if (eq .Site.Language.Lang "kr")}}
  {{$data = .Site.Data.homepagekr }}
{{end}}


{{ if $data.about.enable }}
<section class="section rad-animation-group pb-0" id="about" style="margin-top:1em">
  <div class="container rad-fade-down" style="margin-top:2em">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="about__profile-picture col-12 col-md-6">
        <img
          class="lozad img-responsive rounded"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ $data.about.image.x | relURL }}"
          data-srcset="{{ $data.about.image.x | relURL }} 1x, {{ $data.about.image._2x | relURL }} 2x"
          alt="Profile Picture"
        />
				<p style="font-size: smaller;"><em>© Ziggy Tucker</em></p>
      </div>
      <div class="col-12 col-md-6 my-auto my-auto">
        <h2>{{ $data.about.title }}</h2>
        <p class="lead">
          {{ $data.about.content | safeHTML }}
        </p>
        <a
          href="{{ $data.about.button.URL | relURL }}"
          target="_blank"
          class="btn btn-primary"
        >
          <i class="{{ $data.about.button.icon }}"></i>
          {{ $data.about.button.btnText }}
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
