{{ $data := .Site.Data.homepage }}
{{if (eq .Site.Language.Lang "jp")}}
  {{$data = .Site.Data.homepagejp }}
{{ else if (eq .Site.Language.Lang "kr")}}
  {{$data = .Site.Data.homepagekr }}
{{end}}

{{ if $data.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact">
            <div class="row pt-2">
                <h2 style="color:#333;flex-basis:100%">{{ $data.contact.title }}</h2>
                <div class="col-12 col-lg-6 contact__info">
                    <h3 style="color:#333">North and South America</h3>
                    <span>{{ $data.contact.US.address.title | safeHTML }}</span><br>
                    <span>{{ $data.contact.US.address.address | safeHTML }}</span><br>
                    <span>{{ $data.contact.US.phone.number }}</span><br>
                    <span>{{ $data.contact.US.email.email | safeHTML }}</span>
										<br><Br>
										
										<span> Yonca Karakilic<br>Artist Manager</span><br>
										<span> <a href="mailto:yonca@primoartists.com">yonca@primoartists.com</a><br>+ 1 646 791 6366
										</span>
                </div>
                <div class="col-12 col-lg-6 contact__info">
                  <h3 style="color:#333">Europe, Asia and Australasia</h3>
                  <span> Katie Cardell-Oliver<br>Director, Artist Management<br>Harrison/Parrott </span><br>
                  <span> Harrison Parrot Ltd.<br>South Wing<br>Somerset House<br>The Strand<br>London WC2R 1LA<br>+ 44 7760 998894</span><br>
                  <span> <a href="mailto:kco@harrisonparrott.co.uk">kco@harrisonparrott.co.uk</a><br><a href="http://www.harrisonparrott.com">www.harrisonparrott.com</a>
                  </span>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
