{{ $data := .Site.Data.homepage }}
{{if (eq .Site.Language.Lang "jp")}}
  {{$data = .Site.Data.homepagejp }}
{{ else if (eq .Site.Language.Lang "kr")}}
  {{$data = .Site.Data.homepagekr }}
{{end}}

<header class="header fixed-top rad-animation-group" id="header">
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a class="navbar-brand" href="{{ .Site.BaseURL | absURL }}">
        <span>{{ .Site.Params.logo.text1 }}</span>
        <span>{{ .Site.Params.logo.text2 }}</span>
        <!-- <img
          class="img-responsive"
          src="img/logo-dark.png"
          srcset="img/logo-dark.png 1x, img/logo-dark@2x.png 2x"
          alt="Header Logo"
        /> -->
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent, #header"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL | relURL }}">{{i18n "home"}}</a>
          </li>
          {{ range .Site.Menus.header }}
          <li class="nav-item">
            <a data-scroll class="nav-link" href="{{ .URL }}"
              >{{ .Name | upper }}</a
            >
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="row platform-links" style="display:none;color:#fff">
        {{ range $data.showcase.socialLinks }}
        <a href="{{ .URL | relURL }}" target="_blank">
          <i class="ri-{{ .icon }}-fill"></i>
        </a>
        {{ end }}
        <div style="margin:0 1em;text-align:center">
          {{ if .Site.IsMultiLingual }}
              {{ range .Site.Home.AllTranslations }}
                  {{ if eq . $.Site.Language }}
                      <li style="list-style-type: none;border-bottom:1px white solid">
                          <a href="#" style='font-size:12px' class="active language">{{ .LanguageName }}</a>
                      </li>
                  {{ else }}
                      {{/*  {{ range $.Translations }}  */}}
                          <li style="list-style-type: none;">
                              <a href="{{ .Permalink }}" style='font-size:12px' class="">{{ .Language.LanguageName }}</a>
                          </li>
                      {{/*  {{ end }}  */}}
                  {{ end }}
              {{ end }}
          {{ end }}
        </div>

      </div>
    </nav>
  </div>
</header>
