{{$data := cond (eq .Site.Language.Lang "jp") .Site.Data.homepagejp .Site.Data.homepage }}

{{ if $data.testimonial.enable }}
<section id="news" class="section rad-animation-group section--border-bottom">
    <div class="container">
        <h2 class="rad-fade-down">{{ $data.testimonial.title }}</h2>
        <div class="row row--padded mb-5 rad-fade-down">
            {{ range (where site.RegularPages "Type" "press") }}
            {{ if .Param "feature"}}
            <div class="col-12 col-md-4 mb-5 mb-md-0 testimonial">
                <i class="icon-quote"></i>
                <p>
                    {{ .Summary }}
                </p>
                <div class="testimonial__author">
                    {{/*  <img class="lozad testimonial__author-image"
                         src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                         data-src="{{ .image.x | absURL }}"
                         data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
                         alt="{{ .name }}"/>  */}}
                    <div class="testimonial__author-info">
                        {{ with .Param "link" }}<a href="{{ . | relURL }}"
                            {{ else }}<a href="{{ .Permalink }}"{{end}} class="underline">
                            <span>{{ .Title }}</span>
                            <svg viewBox="0 0 13 20">
                                <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <a
          href="{{ "/press" | relURL }}"
          target="_blank"
          class="btn btn-primary"
        >
          <i class="{{ $data.about.button.icon }}"></i>
          {{ $data.about.button.btnText }}
        </a>
    </div>
</section>
{{ end }}
