{{ if .Site.Data.homepage.newsletter.enable }}
<section class="section section--cta">
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <a href="https://zaphod.vvhp.net/vvreg/20022-754951.html" class="underline">
        <span style="font-size:36px">{{ .Site.Data.homepage.newsletter.title }}</span>
        <svg viewBox="0 0 13 20">
          <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" />
        </svg>
      </a>
      {{/*  <div class="rad-subscription-group">
        <form id="rad-subscription" action="">
          <input
            id="rad-subscription-email"
            type="email"
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Email Address..."
            aria-label="Email Address"
          />
          <button type="submit" id="rad-subscription-submit" class="btn btn-light btn-rounded">
            Sign Up
          </button>
        </form>
        <div id="rad-subscription-success" class="d-none">
          <p class="lead">{{ .Site.Data.homepage.newsletter.success_message }}</p>
        </div>
        <div id="rad-subscription-fail" class="d-none">
          <p>{{ .Site.Data.homepage.newsletter.error_message }}</p>
        </div>
        <script src="/js/subscription.js"></script>
      </div>
      <small id="emailHelp" class="form-text text-muted"
        >{{ .Site.Data.homepage.newsletter.note }}</small
      >
    </div>  */}}
  </div>
</div>
</section>
{{ end }}
