{{ if .Site.Data.homepage.releases.enable }}
<section id="releases" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2>{{ .Site.Data.homepage.releases.title }}</h2>
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.releases.items }}
                    <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                        <div class="releases">
													<div class="releases__cover">
															<img src="{{ .cover }}">
													</div>
                            <div class="releases__text">
															<div class="releases__date">{{ .date }}</div>
															<div class="releases__title">{{ .title }}</div>
														</div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
