<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    {{ partial "head.html" . }}

<script>
  // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
    $(window).on("load resize ", function () {
      var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
      $('.tbl-header').css({ 'padding-right': scrollWidth });
    }).resize();
</script>
</head>

<body>

	{{ partial "header.html" . }}

    <section class="section">
      <div class="container">
        <div class="row d-flex flex-md-row">
          <div class="col-md-12 eventable">

            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Location</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {{ range (where site.RegularPages "Type" "in" site.Params.main_sections).Reverse }}
                  {{if ge .Date.Unix now.Unix }}
                  <tr>
                    <td>{{ .Date | dateFormat "02 Jan" }}
                    {{if .Params.date3}}
                    – {{ .Params.date3 | dateFormat "02 Jan" }}
                    {{ else if and (.Params.date2) (not .Params.date3)}}
                    – {{ .Params.date2 | dateFormat "02 Jan" }}
                    {{end}}
                    {{ if ne (.Date | dateFormat "2006") (now.Format "2006")  }}
                      {{ .Date | dateFormat "2006" }}
                    {{ end}}</td>
                    <td><a href="{{ .Params.link | relURL }}">{{ .Title }}</a> </td>
                    <td>{{ .Params.place }}</td>
                  </tr>
                  {{ end }}
                  {{ end }}
                </tbody>
              </table>
              </div>
            </div>
          </div>
      </div>
    </section>

	{{ partial "footer.html" . }}
  {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->