<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    {{ partial "head.html" . }}

<script>
  // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
    $(window).on("load resize ", function () {
      var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
      $('.tbl-header').css({ 'padding-right': scrollWidth });
    }).resize();
</script>
</head>

<body>

	{{ partial "header.html" . }}

    <section class="section">
      <div class="container">
        <div class="row d-flex flex-md-row">
          <div class="col-md-12 eventable">

            <div class="tbl-header">
              <div class="main">
                  <div class="headrow">
                    <div class="head">Date</div>
                    <div class="head">Location</div>
                    <div class="head deets">Details</div>
                  </div>
              </div>
            </div>
            <div class="tbl-content">
                <tbody>
                {{ range (where site.RegularPages "Type" "in" site.Params.main_sections).Reverse }}
								{{if le now.Unix .Date.Unix .Params.date2}}
                  <div class="row">
                    <div class="item date">{{ .Date | dateFormat "02 Jan" }}
                    {{if .Params.date3}}
                    – <p class="mobile-break"><br></p>{{ .Params.date3 | dateFormat "02 Jan" }}
                    {{ else if and (.Params.date2) (not .Params.date3)}}
                    – <p class="mobile-break"><br></p>{{ .Params.date2 | dateFormat "02 Jan" }}
                    {{end}}
                    {{ if ne (.Date | dateFormat "2006") (now.Format "2006")  }}
                      {{ .Date | dateFormat "2006" }}
                    {{ end}}</div>
                    <div class="item place">{{ .Params.place }}</div>
                    <div class="item title"><a href="{{ .Params.link | relURL }}">{{ .Title }}</a>
                        {{if .Params.rep }}
                        <br> {{ .Params.rep }} 
                        {{ end }}
                    </div>
                  </div>
                  {{ end }}
                  {{ end }}
                </tbody>
              </div>
            </div>
          </div>
      </div>
    </section>

	{{ partial "footer.html" . }}
  {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->