<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

  {{ partial "head.html" . }}

  {{/*  <script>
   var grid = document.querySelector('.row');

    var msnry = new Masonry(grid, {
      itemSelector: '.cardcontainer',
      percentPosition: true
    });

    imagesLoaded(grid).on('progress', function () {
      // layout Masonry after each image loads
      msnry.layout();
    });
    </script>  */}}
</head>

<body>

  {{ partial "header.html" . }}

  <section class="section" style="padding-bottom: 3em;">
    <div class="container">
      <div class="row" data-masonry='{"percentPosition": true }'>

        {{ range (where site.RegularPages "Type" "press") }}
          <div class="col-sm-6 col-lg-4 mb-3 cardcontainer">
            <div class="card">
              <img class="card-img-top" src="{{ .Params.img | absURL }}" alt="Card image cap">
              <div class="card-body">
                {{ with .Param "link" }}<a href="{{ . | relURL }}">
                {{ else }}<a href="{{ .Permalink }}">{{end}}
                  <h5 class="card-title">{{ .Title }}</h5>
                </a>
                <p class="card-text">{{ .Summary }} </p>
              </div>
            </div>
          </div>
        {{ end }}

      </div>        
      </div>
  </section>

  {{ partial "footer.html" . }}
  {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->