<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

  {{ partial "head.html" . }}


</head>

<body>

  {{ partial "header.html" . }}

  <section class="section" style="padding-bottom: 3em;">
    <div class="container">
      <div class="row" data-masonry='{"percentPosition": true }'>

        {{ range (where site.RegularPages "Type" "press") }}
          <div class="col-sm-6 col-lg-4 mb-3 cardcontainer">
            <div class="card">
              <img class="card-img-top" src="{{ .Params.img | absURL }}" alt="Card image cap">
              <div class="card-body">
                {{ with .Param "link" }}<a href="{{ . | relURL }}">
                {{ else }}<a href="{{ .Permalink }}">{{end}}
                  <h5 class="card-title">{{ .Title }}</h5>
                </a>
                <p class="card-text">{{ .Summary }} </p>
              </div>
            </div>
          </div>
        {{ end }}

      </div>        
      </div>
  </section>

  {{ partial "footer.html" . }}
  <script defer>

    // init Masonry
      var $grid = $('.row').masonry({
        // options...
          itemSelector: '.cardcontainer',
          percentPosition: true,
      });
      // layout Masonry after each image loads
      $grid.imagesLoaded().progress(function () {
        $grid.masonry('layout');
      });
  </script>
  {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->